#causes {
  background: #f8f8f8;
  color: #515151;
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;
}

#causes a {
  color: #15b5d2;
}

#causes .reveal {
  background-size: 100% 10px;
  background: url(assets/causes-header.png);
  height: 10px;
}

#causes .reveal .slides {
  text-align: left;
}
#causes .reveal .slides li {
  margin-bottom: 12px;
}

#causes .reveal h1,
#causes .reveal h2,
#causes .reveal h3,
#causes .reveal h4,
#causes .reveal h5 {
  color: #15b5d2;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .02em;
  line-height: .93em;
  margin: 0 0 20px;
  text-align: left;
  text-shadow: none;
  text-transform: none;
}

#causes .reveal h1 {
  font-size: 99px;
  text-shadow: none;
}

#causes .reveal .slides h5 {
  font-size: 24px;
  margin-bottom: 8px;
}

#causes .reveal ul {
  margin-left: 63px;
}

#causes .reveal section img.logo {
  background-color: inherit;
  border: 0;
  bottom: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: fixed;
  width: 200px;
}
