@font-face {
  font-family: 'Gotham Bold';
  src: url('assets/gotham_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('assets/gotham_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#causes {
  font-family: 'Gotham Book';
  font-size: 33px;
  background: #1f3d5f;
  background: -moz-radial-gradient(center, ellipse cover, rgba(52,97,124,1) 0%, rgba(28,30,32,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(52,97,124,1)), color-stop(100%,rgba(28,30,32,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(52,97,124,1) 0%,rgba(28,30,32,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(52,97,124,1) 0%,rgba(28,30,32,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(52,97,124,1) 0%,rgba(28,30,32,1) 100%);
  background: radial-gradient(center, ellipse cover, rgba(52,97,124,1) 0%,rgba(28,30,32,1) 100%);
}
#causes .reveal .slides {
  text-align: left;
}
#causes .reveal .slides li {
  margin-bottom: 12px;
}

#causes .reveal h1,
#causes .reveal h2,
#causes .reveal h3,
#causes .reveal h4,
#causes .reveal h5 {
  margin: 0 0 20px;
  color: #eee;
  font-family: 'Gotham Bold', sans-serif;
  line-height: 0.93em;
  letter-spacing: 0.02em;
  text-shadow: none;
  text-transform: uppercase;
  text-align: left;
}

#causes .reveal h1 {
  text-shadow: none;
  font-size: 99px;
}

#causes .reveal .slides h5 {
  font-size: 24px;
  margin-bottom: 8px;
  font-family: 'Gotham Book';
}

#causes .reveal ul {
  list-style-image: url('assets/plus.png');
  width: 837;
  margin-left: 63px;
}

#causes .reveal section img.logo {
  border: none;
  background-color: inherit;
  width: 150px;
}
